body
{
	background: #FFFFFF;
  background-image: url(../images/menu.jpg);
  background-size: 100%;
}

.form
{
	margin: 1px auto;
	min-width: 590px;
	height: auto;
	border :1px solid rgba(0,0,0,0);
}

h1
{
	text-align: center;
	margin-top: 20px;
	color: rgba(0,0,0,0.5);
}

.back-link {
  position: relative;
    top: 25px;
    left: 40px;
    text-decoration: none;
    display: inline-block;
}

.back-link:hover {
    background-color: #ddd;
    text-decoration: none;
}

#dropdown{
    position: absolute;
    top      : 25px;
    right    : 40px;
    display: inline-block;
    background-color: #5F9EA0;
    border-radius: 10px;
    z-index: 2;
    text-align: center;
}
#dropdown:hover{
    background-color: #008080;

}
.drop-link{
    font-size: 16px;
    border: none;
    color: white;
    margin-left: 5px;
    margin-right: 5px;
    padding: 16px;
}

.drop-link:hover{
      text-decoration: none;
          color: white;

}

#dropdown-content {
    right: 0;
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 3;
}

#dropdown-content a {
    text-align: center;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

#dropdown-content a:hover {background-color: #ddd }

#dropdown:hover #dropdown-content {
    display: block;
}

#dropdown:hover .dropbtn {
    color: black;
}
.formulario
{
	display: block;
	margin: 10px 0;
	padding: 5px;
	width: 100%;
	border-radius: 10px;
	border : 2px solid #CCCCCC;
	background: #FFFFFF;
}




textarea
{
	display: block;
	margin-bottom: 5px;
	resize: none;
}

select
{
  display: block;
  margin: 10px 0;
  padding: 5px;
  width: 100%;
  border-radius: 10px;
  border : 2px solid #CCCCCC;
  background: #FFFFFF;
}
.btn{
      padding: 8px 16px;

}
.btn-normal{
  background-color: #5F9EA0;
  border-color: #5F9EA0;
  color: #ffffff;
}
.btn-normal:hover{
  background-color: #008080;
  border-color: #008080;
  color: #ffffff;
}
.btn-normal:focus{
  background-color: #008080;
  border-color: #00664d;
  color: #ffffff;
}
.btn-normal:active{
  background-color: #008080;
  border-color: #00664d;
  color: #ffffff;
}
.btn-edit{
  background-image: url('../images/btn-edit.png');
  background-size: 80%;
  background-repeat: no-repeat;
  background-position: center;
  width: 30px;
  height: 30px;
}