body
{
	background: #FFFFFF;
}

form
{
	margin: 1px auto;
	max-width: 590px;
	height: auto;
	padding: 25px;
	border :1px solid rgba(0,0,0,0);
}

h1
{
	text-align: center;
	margin-top: 1px;
	margin-bottom: 5px;
	color: rgba(0,0,0,0.5);
}

.formulario
{
	display: block;
	margin: 10px 0;
	padding: 5px;
	width: 100%;
	border-radius: 10px;
	border : 2px solid #CCCCCC;
	background: #FFFFFF;
}

label
{
	display: block;
	margin:1px;
}
button
{
	margin: 10px 0;
	padding: 10px;
	width: 20%;
}

textarea
{
	display: block;
	margin-bottom: 5px;
	resize: none;
}

select
{
  display: block;
  margin: 10px 0;
  padding: 5px;
  width: 100%;
  border-radius: 10px;
  border : 2px solid #CCCCCC;
  background: #FFFFFF;
}